/*
 * wofi style.
 *
 */

window {
    opacity: 0.9;
    border:  0px;
    border-radius: 10px;
    font-family: CaskaydiaCove Nerd Font, FontAwesome, Roboto, monospace;
    font-size: 32px;
	background-color: rgba(43, 48, 59, 0.9);
}

#text {
	margin: 0px;
	padding: 2px 2px 2px 10px;
}

#input {
	border-radius: 10px 10px 0px 0px;
    border:  0px;
    padding: 10px;
    margin: 0px;
    font-size: 32px;
	color: black;
	background-color: rgba(111, 97, 139, 0.9);
    opacity: 1.0;
}

#inner-box {
	margin: 0px;
	color: #EBDBB2;
	background-color: rgba(43, 48, 59, 0.9);
}

#outer-box {
	margin: 0px;
	background-color: #7C818c;
    border-radius: 10px;
	background-color: rgba(43, 48, 59, 0.9);
}

#selected {
	/* color: black;
	background-color: #bbccdd;
	*/
}

#entry {
	padding: 0px;
    margin: 0px;
	background-color: rgba(43, 48, 59, 0.9);
}

/*
#scroll {
	margin: 5px;
	background-color: rgba(43, 48, 59, 0.9);
}
*/

